.nextflow*
work/
nohup.out
*.log
*.sif
*.bak
*.pre_audit
*.pre_share
apply_*.R
chk*.sh
run_*.sh
prog.sh
st.sh
filter_studies*.sh
harvest_perf.sh
ch5_mag_watch.sh
secat_matched_null_fn*.R
test_*.R
fix*.R
diag_*.R
sweep_*.R
prototype_*.R
nh_evidence/
nh_evidence.R
build-container.yml
params_paper_sens.yaml
selection_roster_paper*.txt
*.patch
