// ============================================================================
// conf/jasmin.config — JASMIN LOTUS2 site-specific overrides
// ============================================================================
process {
    errorStrategy = 'terminate'
    maxRetries    = 0

    withLabel: 'mem_4g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=short --time=04:00:00'
    }
    withLabel: 'mem_8g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=short --time=04:00:00'
    }
    withLabel: 'mem_16g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=short --time=04:00:00'
    }
    withLabel: 'mem_16g_cpu4' {
        cpus           = 1
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=standard --mem=16G --ntasks=1 --time=04:00:00'
    }
    withLabel: 'mem_18g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=standard --time=04:00:00'
    }
    withLabel: 'mem_30g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=short --time=04:00:00'
    }
    withLabel: 'mem_48g_cpu16' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=standard --time=12:00:00'
        time           = '12h'
        cpus           = 4
    }
    withLabel: 'mem_64g' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=high --mem=64G --ntasks=1 --time=24:00:00'
        time           = '24h'
        cpus           = 2
    }
    withLabel: 'mem_64g_cpu4' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=high --mem=64G --ntasks=4'
    }
    withName: 'STUDY_MAPPING' {
        queue          = 'standard'
        clusterOptions = '--account=no-project --qos=high --mem=128G --ntasks=4'
        time           = '24h'
    }
}
executor {
    queueSize       = 200
    pollInterval    = '30 sec'
    submitRateLimit = '10/1min'
}
workDir = '/work/scratch-nopw2/dterrey/secat_work'
singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/work/scratch-nopw2/dterrey/singularity_cache'
}
